.main {
  height: 100%;
  width: 100%;
  color: #FFF;
}

.film-posters {
  display: flex;
  flex-wrap: wrap; 
  gap: 20px; 
}

.film-poster-container {
  flex: 0 0 calc(33.33% - 20px);
}

.film-poster {
  max-width: 100%;
  height: auto;
  border: 1px solid #ccc;
}
.capitalize-first-letter::first-letter {
  text-transform: uppercase;
}