.feedback-wrapper {
  display: flex;
}
.feedback-list {
  width: 50%;
  padding-left: 0;
}
.feedback-list p {
  display: flex;
  justify-content: center;
}
.rate-block-container {
  width: 50%;
}
.add-review-btn {
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 240px;
  background-color: transparent;
  border: 1px solid transparent;
  color: #EBC351;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}
.review-img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #FF922F78;
}
.handle-new-review-btn {
  border-radius: 8px;
  height: 36px;
  padding: 8px;
  text-align: center;
  background-color: #FF922F78;
  color: #FFF;
  border: 1px solid transparent;
}
.handle-btn-wrapper {
  display: flex;
  justify-content: space-around;
}
.review-textarea {
  border-radius: 8px;
  border: 1px solid transparent;
  opacity: 0.8;
  background-color: #FF922F78;
  color: #FFF;
  font-size: 14px;
  padding: 8px;
}